.container {
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: flex-end; */
  border: 10px solid black;
  height: 90vh;
  /* align-items: baseline; */
  /* flex-wrap: wrap;
  align-content: flex-start;
  column-gap: 1em;
  row-gap: 1em; */
}
.box {
  height: 100px;
  width: 100px;
  font-size: 5em;
  text-align: center;
  border-radius: 15px;
}
#box1 {
  /* align-self: center; */
  background-color: rgb(10, 208, 208);
}
#box2 {
  /* align-self: end; */
  background-color: rgb(4, 4, 124);
}
#box3 {
  background-color: rgb(242, 242, 63);
}
#box4 {
  background-color: rgb(128, 18, 231);
}
